build/
build_isolated/
devel_isolated/
devel/
.catkin_tools/
logs/
.vscode/
output/

*.pyc

*.pth
*.pt
*.swp
*.egg
*.so

results/
*.egg-info/
.ipynb_checkpoints/
__pycache__/
*.ipynb

src/kinova_control/kinova_control_py/debug
.catkin_workspace
build_isolated/
devel_isolated/

src/gaussian_splatting/weights/ACE
src/gaussian_splatting/gaussian_splatting_py/Grounded-SAM-2/
output_video.mp4
src/gaussian_splatting/weights/
nb/